.gamemaster-view {
  height: 100%;
  width: 100%;
  padding: 0px
}

.map {
  height: 100%;
  width: 100%;
  position: absolute
  /*float: right*/
}

.newdrop-button {
  width: 100%;  
  position: absolute;
}

.newdrop-button > .ui.button {
  color: black;
  border: black solid 2px;
  background-color: white;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 1000px
  /*font-size: 20px;*/
  /*letter-spacing: 2px;*/
}

.ui.button {
  float: right;
  z-index: 100;
  margin-top: 20px;
  margin-right: 20px;
  background: none;
  color: white;
  height: 40px;
  font-size: 13px
}

.dropZoneField {
  cursor: pointer;
  height: 150px;
  width: 150px;
}

.dropZoneText {
  cursor: pointer;
  border: dashed;
  text-align: center;
  padding-top: 60px;
  height: 150px;
  width: 150px;
}

.navbar {
  margin-bottom: 0px;
  border-style: none;
  background: #333;
}

.navbar.navbar-default {
  background: none;
  min-height: 55px;
  z-index: 100
}

.stelth-logo-icon {
  height: 30px;
  margin-top: 6px;
}

.nav.navbar-nav {
  margin-top: 2px;
}

.nav-auth {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  letter-spacing: 2px;
  font-weight: 300;
  background: none;
    margin-top: 11px;
  background: none;
  border-style: none;
  color: white
}

.about {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: none;
  color: white;
}

.about-page {
  background: url('./images/stelthnight.png') no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: white;
  margin-top: -55px
}

.about-page-content {
  margin: 100px
}

.about:hover {
  background: none
}

.about:active:focus {
  background:none;
}

.login:hover {
  background: none
}

.login:active:focus {
  background:none;
}
/*
.logout {
  margin-top: 11px;
  background: none;
  border-style: none 
}*/

.logout:hover {
  background: none
}

.logout:active:focus {
  background:none;
}

.stelth-logo {
  margin-top: 8px;
  background-color: #333;
  border-style: none  
}

.profilePicture {
  height: 50px;
  border-radius: 50%;
}
 
 .singleUser {
  padding: 10px;
 }

 .profileName {
  padding-left: 15px;
 }

.drop-popover {
  margin: auto
}

.modal-header {
  text-align: center
}

.modal-body {
  text-align: center
}

.modal-footer {
  text-align: center
}


.parallax-1 {
  height: 800px;
  width: 100%;
  margin: auto;
  z-index: 50;

}

.parallax-2 {
  height: 500px;
  width: 100%;
  background: none;
  /*background: -webkit-linear-gradient(transparent, black);*/
  /*background-color: black;*/
  margin-top: 100px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 5px
}

.parallax-3 {
  height: 300px;
  width: 100%;
  background: #333;
}

.parallax-1-img {
  height: 50px;
}

.landing-page {
  margin: -55px;
  /*background-color: black*/
}

.parallax-1-container {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  margin-top: 200px;  
  padding: 10px;
  text-align: center
}

.parallax-grid {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: white;  
  margin-top: 150px
}

.pGrid {
  height: 200px;
  /*border: 1px white solid;*/
  /*background-color: black;*/
  /*opacity: 0.6;*/
  padding: 10px;
}

.pGrid-icon {
  width: 25px;
  margin-top: -4px
}

.pGrid-header {
  /*color: #fbfd00;*/
  text-align: left;
  /*font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 100px;
}

.pGrid-text {
  /*font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;  */
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
  text-align: justify;
  vertical-align: middle;
  letter-spacing: 1px
}

.pGrid-1 {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s
}
.pGrid-2 {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s
}
.pGrid-3 {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3s
}

.device-container {
  /*vertical-align: bottom;*/
  position: relative;
  height: 384px
}

.ipad-image {
  border: solid #333 17px;
  border-radius: 22px;
  float: right;
  width: 500px;
  margin-left: 20px;
}

.iphone-image {
  height: 300px;
  width: 180px;
  border: solid #333 10px;
  border-radius: 5px;
  float: right;
  z-index: 10;
  position: absolute;
  right: -30px;
  bottom: 0px
}

.parallax-2-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  letter-spacing: 1px;
  float: left;
  width: 250px;
  margin-top: 50px
}

.parallax-2-text {
  float: left;
  width: 400px;
  /*margin-right: -20px*/
}

/*.falling-drop {
  height: 600px;
  width: 50px;
  z-index: 100;
  position: aboslute
}*/

.parallax-3-container {
  height: 400px;
  color: white;
  text-align: center;
  margin-top: 70px
}

.app-store {
  height: 80px;
  margin-top: 30px
}

.falling-drop1 {
    width: 10px;
    height: 10px;
    position: relative;
    opacity: 0.5;
    animation-name: fall1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes fall1 {
  0%   {left:700px; top:50px; opacity: 0}
  75%  {left:700px; top:800px;}
  100% {opacity: 1}
}

.falling-drop2 {
    width: 20px;
    height: 20px;
    position: relative;
    opacity: 0.5;
    animation-name: fall2;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes fall2 {
  0%   {left:100px; top:50px; opacity: 0}
  75%  {left:100px; top:800px;}
  100% {opacity: 1}
}

.falling-drop3 {
    width: 15px;
    height: 16px;
    position: relative;
    opacity: 0.5;
    animation-name: fall3;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes fall3 {
  0%   {left:400px; top:50px; opacity: 0}
  75%  {left:400px; top:800px;}
  100% {opacity: 1}
}

.falling-drop4 {
    width: 25px;
    height: 25px;
    position: relative;
    opacity: 0.5;
    animation-name: fall4;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 8s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes fall4 {
  0%   {left:1000px; top:50px; opacity: 0}
  75%  {left:1000px; top:800px;}
  100% {opacity: 1}
}

.falling-drop5 {
    width: 10px;
    height: 10px;
    position: relative;
    opacity: 0.5;
    animation-name: fall5;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 9s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes fall5 {
  0%   {left:300px; top:50px; opacity: 0}
  75%  {left:400px; top:800px;}
  100% {opacity: 1}
}

.falling-drop6 {
    width: 20px;
    height: 20px;
    position: relative;
    opacity: 0.5;
    animation-name: fall6;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

@keyframes fall6 {
  0%   {left:900px; top:50px; opacity: 0}
  75%  {left:900px; top:800px;}
  100% {opacity: 1}
}

