/*.gamemaster-view {
  height: 700px;
  width: 100%
}*/

.map {
  height: 675px;
  width: 80%;
  float: right
}

.dropZoneField {
  cursor: pointer;
  height: 150px;
  width: 150px;
}

.dropZoneText {
  cursor: pointer;
  border: dashed;
  text-align: center;
  padding-top: 60px;
  height: 150px;
  width: 150px;
}

.navbar {
  margin-bottom: 0px;
  border-style: none
}

.navbar.navbar-default {
  background-color:#333;
  min-height: 55px;
}

.nav.navbar-nav {
  float: right;
  margin-top: 2px;
}

.login {
  margin-top: 8px
}

.logout {
  margin-top: 8px
}

.stelth-logo {
  margin-top: 8px;
  float: left
}

.profilePicture {
  height: 50px;
  border-radius: 50%;
}
 
 .singleUser {
  padding: 10px;
 }

 .profileName {
  padding-left: 15px;
 }